@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-12px!important;
 overflow-y:scroll;
/* margin-bottom:-12px!important;*/
 overflow-x:scroll;
}

toolbar#TabsToolbar {display:none !important}
#sidebar-header { visibility: collapse !important; }
